:host {
  width: 100%
}
.expenses {
  border-radius: 16px;
border: 1px solid var(--light-web-background-tertiary, #E2E5E9);
background: #FFF;
}

.expenses__items {
   padding: 24px 32px;
    border-radius: 16px;
    border: 1px solid var(--light-web-background-tertiary, #E2E5E9);
    background: #FFF;
}

.expenses__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid var(--light-web-background-tertiary, #E2E5E9);
}

.expenses__item-date {
  color: var(--light-web-text-secondary, #626F84);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.expenses__item-desc {
  color: var(--light-web-text-primary, #2B313B);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.expenses__item-amount {
  display: flex;
  justify-content: center;
  color: var(--light-web-text-primary, #2B313B);
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}

.expenses__item-btns {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}