.expenses {
  padding: 32px 16px;
  border-right: 1px solid var(--light-web-background-tertiary, #e2e5e9);
  background: var(--light-web-background-primary, #fff);
}

.expenses__form-inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
