header {
  background: #5851ff;
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 0 12px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 5px;
  margin-top: 50px;
}

.content__right {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.theme-mode-wrap {
  position: absolute;
  right: 0;
  top:0;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  color: var(--text-secondary);
}
