
.chart-сontainer {
  height: 40vh;
  width: 90%;
  display: block;
  padding: 24px 32px;
  border-radius: 16px;
  border: 1px solid var(--light-web-background-tertiary);
  background: #fff;
}

.hidden {
    display: none;

}
